*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
    font-family: 'Outfit', sans-serif;
}

.navbar{
    /*background-color: #212A3E;*/
    background-color: #9681EB;
    position: fixed;
    min-width: 100vw;
    top: 0px;
    height: 56px;
    transition-duration: 0.45s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 100;
}

a{
    text-decoration: none;
}

/* Boton menu hamburguesa */
.navbar-btn{
    display: inline-block;
    position: relative;
    top: 15px;
    left: 15px;
    height: 30px;
    background-color: transparent;
    border: none;
    transition-duration: 0.075s;
    transition-timing-function: ease;
}

.navbar-btn-box{
    position: relative;
    background-color: white;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.navbar-btn-inner::before, .navbar-btn-inner::after{
    content: "";
    display: block;
    background-color: white;
    width: 32px;
    height: 4px;
    position: absolute;
    border-radius: 4px;
}

.navbar-btn-inner::before{
    top: -10px;
    transition: top 0.075s 0.1s ease, opacity 0.075s ease; 
}

.navbar-btn-inner::after{
    bottom: -10px;
    transition: bottom 0.075s 0.1s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.active .navbar-btn-box{
    transform: rotate(45deg);
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.active .navbar-btn-inner::before{
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.1s ease;
}

.active .navbar-btn-inner::after{
    transform: rotate(-90deg);
    bottom: 0;
    transition: bottom 0.075s ease, transform 0.075s 0.1s ease;
}

/*--*/
/* Navbar menu */
.display-menu{
    transition: .8s;
    height: 100vh;
}

.navbar-menu{
    position: relative;
    top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-menu li{
    opacity: 0;
    list-style: none;
    margin-bottom: 40px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.navbar-menu a{
    color: white;
}

.display-menu .navbar-menu li:nth-child(1){
    animation-name: showlist;
    animation-delay: .1s;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    display: block;
}

.display-menu .navbar-menu li:nth-child(2){
    animation-name: showlist;
    animation-delay: .25s;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    display: block;
}

.display-menu .navbar-menu li:nth-child(3){
    animation-name: showlist;
    animation-delay: .35s;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    display: block;
}


@keyframes showlist {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*--*/
/* Main */

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 235px 1fr 150px;
    grid-template-areas: 
    "top"
    "mid"
    "bottom";
    gap: 0px 0px;
    height: clamp(500px, 100vh, 743px);
    justify-items: center;
}

.top-container{
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
    "tittle"
    "progress";
    gap: 10px;

}

.mid-container{
    grid-area: mid;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-container{
    grid-area: bottom;
}

.btnsContainer{
    position: absolute;
    top: 34.5%;
    left: 124px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.contador{
    width: 179px;
    height: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: #272f3f; 
}



button{
    border: none;
    background-color: transparent;
}

.outsideCircle{
    stroke: white;
    fill: none;
    stroke-width: 10px;
}

.progressCircle{
    fill:none;
    stroke: #9BA4B5;
    stroke-width: 10px;
    transform: rotate(-90deg);
    transform-origin: center;
}

button i{
    font-size: 4em;
    color: #0199a7;
}

.contadorBtn, .contadorBtnStop :hover{
    cursor: pointer;
}

.pomodoro-type{
    grid-area: tittle;
    position: relative;
    top: 80%;
    max-height: 150px;
}

.pomodoro-type h2{
    font-weight: 500;
    font-size: 1.4em;
    color: #272f3f;
}

.pomodoro-progreso{
    grid-area: progress;
}

/* Playlist Cards */

.playlist-cards{
    position: relative;
    top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card{
    width: clamp(300px, 300px, 400px);
    height: 200px;
    border-radius: 15px;
    background-color: white;
    border: 2px transparent solid;
    box-shadow: 0px 0px 5px -1px rgba(36, 36, 36, 0.411);
}


.card-title{
    margin-left: 25px;
    margin-top: 20px;
    color: #39496b;
}

.card-title::after{
    content: "";
    display: inline-block;
    width: 240px;
    border-bottom: 1px solid rgb(129, 129, 129);
}

.card-info{
    width: 100%;
    margin-top: 10px;
    color: rgb(97, 97, 97);
}

.card-info-rows{
    margin-left: 25px;
    display: inline-block;
}

.card-info li{
    list-style: none;
    margin-top: 10px;
}

.card-info-values{
    display: inline-block;
    position: relative;
    right: -75px;
    text-align: end;
}

.newCard{
    width: 300px;
    border-radius: 10px;
    height: 40px;
    background-color: #45CFDD;
    border: 2px transparent solid;
    box-shadow: 0px 0px 5px -1px rgba(36, 36, 36, 0.411);
}

.newCard h3{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.newCard:active{
    border: 2px #ffffff solid;
    box-shadow: 1px 1px 8px 1px #212e3e85;
}

.card-btn{
    display: inline-block;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background-color: #0199a7;
    cursor: pointer;
}


.seleccionado{
    border: 2px #212A3E solid;
    box-shadow: 1px 1px 8px 1px #212e3e85;
    
}